@media screen and (max-width: 768px) {
    .iphone {
        height: 100vh;
        margin-top: 80px;

        &__text-container {
            width: 286px;
            margin: 0 auto;
        }

        &__title {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
        }

        &__subtitle {
            margin: 15px 0 30px 0;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            opacity: 0.8;
        }

        &__img {
            position: relative;
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
            }
        }
    }
}